header ul{
    display: flex;
    justify-content: space-evenly;
}
header li{
    list-style-type: none;
}
header a{
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header__image--center{
    display: block;
    margin: 0 auto;
}
.header__link--red{
    color: hsl(0, 100%, 43%);
}